@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";

.modal_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @media (max-width: 320px) {
    gap: 24px;
    margin: 26px 0 16px 0;
  }

  .modal_title {
    @include text(24px, 30px, 700, $main-text-color);
    letter-spacing: 0.2px;
    text-align: center;
    width: 80%;

    @media (max-width: 320px) {
      @include text(18px, 28px, 700, $main-text-color);
    }
  }

  .modal_buttons_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

}