@import '../../../common/styles/mixins/mixins';
@import '../../../common/styles/variables/variables';

.wrapper_registrationForm {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 48px 56px;
  border-radius: 16px;
  align-items: start;
  gap: 32px;

  .registrationForm__titleBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .registrationForm__title {
      @include text(24px, 30px, 700, $main-text-color)
    }

    .registrationForm__stepCount {
      @include text(14px, 18px, 600, $main-text-color)
    }
  }



  .registration_buttonBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .registration_submitBTN {
      width: 100%;
      padding: 14px 0;
      text-transform: uppercase;
      @include text(16px, 24px, 600, #FFFFFF);
      letter-spacing: 0.2px;
      background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
      border-radius: 30px;
      border: none;
    }

    .registration_navigateToLogin {
      display: flex;
      height: 24px;
      flex-direction: row;
      align-items: center;
      gap: 16px;


      .registration_navigateToLogin_message {
        @include text(16px, 24px, 400, rgba(114, 114, 114, 1));
      }

      .registration_navigateToLogin_link {
        @include text(12px, 18px, 600, rgba(54, 54, 54, 1));
        padding-top: 2px;
      }
    }


  }

}