@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";


.wrapper {

    .filterBar {
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 38px;

        @media (max-width: 768px) {
            margin-bottom: 24px;
        }

        @media (max-width: 320px) {
            margin-bottom: 16px;
        }

        .filterBar_left {
            display: flex;
            justify-content: space-between;
            gap: 16px;

            .filterBar__rating {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 38px;
                width: 148px;
                padding: 8px 16px;
                gap: 8px;
                background: #FFFFFF;
                box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
                border-radius: 599px;
                border: none;

                @media (max-width: 768px) {
                    width: 150px;
                }

                @media (max-width: 320px) {
                    width: 32px;
                    height: 32px;
                    padding: 8px;
                }

                span {
                    @include text(14px, 18px, 400, $unActive-color);

                    @media (max-width: 320px) {
                        display: none;
                    }
                }
            }

            .filterBar__rating_reverse {
                img {
                    transform: scale(1, -1);
                }
            }
        }

        .filterBar_right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            z-index: 0;

            .filterBar__button {
                width: 38px;
                height: 38px;
                background: #FFFFFF;
                filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
                border-radius: 100%;
                border: none;

                @media (max-width: 320px) {
                    width: 32px;
                    height: 32px;
                    padding-left: 8px;
                }

                img {
                    position: absolute;
                    left: 25%;
                    right: 25%;
                    top: 25%;
                    bottom: 25%;
                    stroke: #F83600;

                    @media (max-width: 320px) {
                        width: 16px;
                        height: 16px;
                    }
                }

                &:hover,
                &:focus,
                &:active,
                {
                    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);

                    img {
                        -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
                        filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
                    }
                }
            }

            .activeBtn {
                background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);

                img {
                    -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
                    filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
                }
            }
        }

    }


    .filterBar__search_open {
        @media(max-width: 320px) {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            height: 38px;

            .filterBar__rating,
            .filterBar_right {
                display: none;
            }
        }

    }


}
