@import 'src/common/styles/mixins/mixins';
@import 'src/common/styles/variables/variables';

.profile__wrapper {
  display: flex;
  flex-direction: column;
  gap: 92px;

  .book__block__wrapper {
    position: relative;
    width: 100%;
  }

}