@import 'src/common/styles/mixins/mixins';
@import 'src/common/styles/variables/variables';

.profile__wrapper {
  display: flex;
  flex-direction: column;
  gap: 92px;
  
  @media (max-width: 768px) {
    gap: 64px;
  }
  @media (max-width: 320px) {
    gap: 42px;
  }

  .book__block__wrapper {
    position: relative;
    width: 100%;
  }
}