@import '../../../common/styles/mixins/mixins';
@import '../../../common/styles/variables/variables';


.item {
    margin-top: 42px;
    min-height: 36px;
    @include text(18px, 28px, 700, $main-text-color);

    &:hover {
        @include active-color
    }

    .active_link {
        @include active-color;

        &::after {
            content: '';
            display: block;
            margin-top: 8px;
            height: 1px;
            width: 255px;
            background-image: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
        }
    }
}
