@import '../../../common/styles/mixins/mixins';
@import '../../../common/styles/variables/variables';


.item {
    margin-top: 42px;
    min-height: 36px;
    @include text(18px, 28px, 700, $main-text-color);

    &:hover {
        @include active-color
    }

    .active_link {
        @include active-color;

        &::after {
            content: '';
            display: block;
            margin-top: 8px;
            height: 1px;
            width: 255px;
            background-image: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
        }
    }

}


/*.sidebar__showcase {
       min-width: 255px;
       min-height: 36px;
       display: inline-block;
       border-bottom: 1px solid $main-text-color;

       !*&::after {
           content: '';
           display: block;
           margin-top: 8px;
           height: 1px;
           width: 255px;
           background: $main-text-color;
       }

       &:hover::after {
           background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
       }

       &:active::after {
           background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
       }*!

   }*/

/*.sidebar__showcase_button{
       width: 255px;
       height: 36px;
       border: none;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: space-between;
       ;
       border-bottom: 1px solid $main-text-color;
       padding: 0;
       @include text(18px, 28px, 700, $main-text-color);

       &:hover,
       &:focus {
           @include active-color;

           border-bottom-width: 1px;
           border-bottom-style: solid;
           border-image: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%) 30;

           !*background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);*!

       }
   }*/
