@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";


.wrapper_tile {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;

    @media (max-width: 768px) {
        gap: 35px;

    }
    @media (max-width: 320px) {
        gap: 8px;

    }
}
